@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	font:12px 微软雅黑, 宋体, 新宋体, Tahoma, arial, sans-serif;
	line-height:20px;
}

ul,li {
	margin:0;
	padding:0;
	list-style:none;
}

h1,h2,h3 {
	margin:0;
	line-height:none;
	padding:0;
}

img {
	margin:0;
	padding:0;
	border:0;
}

form,input {
	margin:0;
	padding:0;
}

a {
	margin:0;
	padding:0;
	color:#3ad1fa;
	text-decoration:none;
}

a:hover {
	color:#003399;
	text-decoration:underline;	
}
.clear{
	clear:both;
}
.error{
	color:red;
	padding:0px 5px;
	display:none;
}
a.zhelazhela{
	font-weight:bold;
	color:#e44408;
}
a.zhelazhela:hover{
	text-decoration:none;
}
input.w350{
	width:350px;
}
input.w300{
	width:300px;
}
input.w250{
	width:250px;
}
input.w200{
	width:200px;
}
input.w100{
	width:100px;
}
input.w60{
	width:60px;
}
div.b_link{
	float:left;
	border:1px solid #CCC;
	padding-right:5px;
	height:18px;
	line-height:18px;
	margin:0px 10px 10px 0px;
}
div.b_link a{
	display:block;
	color:#003399;
	background:url(images/b_link.gif) center right no-repeat ;
	padding:1px 20px 2px 4px;
}
div.b_link a:hover{
	text-decoration:none;
}