#mainContent .content .left{
	float:left;
	width:580px;
	margin:10px 20px auto 10px;
}

#mainContent .content .left h3 {
	font-size:20px;
	font-weight:700;
	color:#5F0A67;
	line-height:30px;
	margin:0 0 10px 0;

}

.left img {
	vertical-align:middle;
}

#mainContent .content .left .title {
	width:480px;
}

#mainContent .content .left span {
	line-height:20px;
}

.photo {
	clear:both;
}

#mainContent .content .left .picinfo {
	margin-top:10px;
}

.picinfo em {
	padding-right:5px;
}

.comment {
	margin-top:20px;
}

.commentInfo {
	margin:5px 0 10px;
	overflow:hidden;
	padding:5px;
	position:relative;
	width:440px;
}

img.userIcon {
background:#FFFFFF none repeat scroll 0 0;
float:left;
margin:0 10px 0 0;
padding:0;
position:relative;
z-index:5;
}

.PostDateTime, .DateTime {
color:#666666;
}

div.PostContent {
margin-left:70px;
}

div.commentInfo .CommentText {
padding:0 0 0.7em;
}

.sign {
border-top:1px dashed #999999;
color:#666666;
font-style:italic;
width:80%;
}

.comment_info {
	line-height:30px;
}

.post_comment p {
	margin:20px 0;
}

.panel {
	line-height:30px;
	margin-top:20px;
}

.panel span {
	font-size:14px;
	color:#5F0A67;
	font-weight:700;
}

#mainContent .content .right{
	height:300px;
	float:left;
	width:300px;
	margin:10px auto 0px auto;
}