<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		  "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-lazy-init="false" default-dependency-check="none" default-autowire="byName">
	<bean id="accountService" name="accountService" class="com.twitpic.services.impl.AccountServiceImpl" />
	
	<!-- mail service -->
	<bean name="smtpAuthenticator"
		class="com.twitpic.system.email.SmtpAuthenticator">
		<constructor-arg value="andy.noreply.mail@gmail.com" />
		<constructor-arg value="~@$fs#@s*o)p" />
	</bean>
	<bean name="mailSession" class="javax.mail.Session"
		factory-method="getInstance">
		<constructor-arg>
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.socketFactory.port">465</prop>
				<prop key="mail.smtp.socketFactory.class">
					javax.net.ssl.SSLSocketFactory
				</prop>
				<prop key="mail.smtp.socketFactory.fallback">
					false
				</prop>
			</props>
		</constructor-arg>
		<constructor-arg ref="smtpAuthenticator" />
	</bean>
	
	<bean name="mailSender"
		class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="session" ref="mailSession" />
	</bean>
	
	<bean name="mailServices" class="com.twitpic.system.email.MailServices" >
		<property name="senderName" value="EasyEffective" />
		<property name="senderAddr" value="noreply.sop@gmail.com" />
	</bean>
	
	<bean name="systemConfig" class="com.twitpic.system.config.SystemConfig" >
		<property name="domain" value="http://localhost:8080" />
	</bean>
</beans>