@charset "utf-8";
/* CSS Document */
#wrap{
	width:940px;
	margin:0px auto;
}
#header,#content,#footer{
	width:100%;
	clear:both;
}
#footer{
	margin-top:20px;
	height:72px;
	background:url(images/footerbg.gif) repeat-x;
}
.logo a img{
	padding:10px 0px;
}
.right-side{
	font-size:12px;
	float:right;
	height:60px;
	line-height:60px;
}
.right-side img{
	vertical-align:middle;
	padding:5px;
}
.menu {float:left;width:100%;position:relative;font-size:12px;font-weight:bold;
background:url(images/bgOFF.gif) repeat-x;border-bottom:0px solid #859e2d;/*bottom border color*/}
.menu ul {padding:0;margin:0;list-style-type:none;float:left;position:relative;}
.menu ul li {float:left;position:relative;display:inline;background:url(images/bgDIVIDER.gif) no-repeat bottom right;}
.menu ul li a, .menu ul li a:visited {float:left;display:block;text-decoration:none;color:#fff;width:auto;height:26px;padding:0px 16px 0px 16px;line-height:26px;}
.menu ul li:hover a {background-color:#859e2d;}
.menu ul li.select a{background-color:#859e2d;}
.pop_content{
	padding:0px;
	margin:0px;
	border:none;
	border-collapse:collapse;
	z-index:999;
	position:absolute;
	left:330px;
	top:30px;
	display:none;
}
.pop_content td{
	background:#ffa432;
	border:none;
	margin:0px;
	padding:0px;
}
.pop_content .corner_1,.pop_content .corner_2,.pop_content .corner_3,.pop_content .corner_4{
	background-color:#FFF;
	width:8px;
	height:8px;
	background:url(images/conner_1.png) no-repeat left top;
}
.pop_content .corner_2{
	background:url(images/conner_2.png) no-repeat;
}
.pop_content .corner_3{
	background:url(images/conner_3.png) no-repeat;
}
.pop_content .corner_4{
	background:url(images/conner_4.png) no-repeat;
}
.pop_content .content{
	background:#FFF;
	width:500px;
}
.pop_content .content .bar{
	width:100%;
	background:#666;
	color:#FFF;
	height:24px;
	line-height:24px;
	vertical-align:middle;
}
.pop_content .content .titleline{
	width:100%;
	vertical-align:middle;
	margin-top:5px;
	clear:left;
}
.pop_content .content .unconfig{
	color:#393;
	font-weight:800;
	padding-left:68px;
}
.pop_content .content .bar span,.pop_content .content .titleline .t_head{
	font-size:12px;
	font-weight:800;
	padding:0px 5px;
}
.pop_content .content .titleline .t_head{
	float:left;
	color:#F30;
}
.pop_content .content .titleline div.words{
	float:left;
	width:420px;
	color:#06F;
	font-weight:normal;
}
.pop_content .content .titleline .adding{
	padding-left:68px;
}
.pop_content .content .titleline .adding select{
	margin-right:5px;
}
.pop_content .content .titleline .adding a,.pop_content .content .titleline  a{
	color:#003399;
	font-weight:800;
	padding:0px 3px;
}
.pop_content .content .titleline .adding a:hover,.pop_content .content .titleline a:hover{
	text-decoration:none;
}
.pop_content .content .bar .pop_right{
	float:right;
	padding-right:10px;
}
.pop_content .content .bar a:hover{
	font-weight:bold;
	color:#FFF;
	text-decoration:none;
}
.left{
	width:620px;
	float:left;
}
.right{
	float:left;
	width:300px;
	margin-left:20px;
}
.left .post_head{
	margin-top:20px;
}
.left .post_head h2 a{
	color:#5a8f34;
}
.left .post_head h2 a:hover{
	color:#5a8f34;
	text-decoration:none;
}
.left .post_head .small{
	margin-top:5px;
	color:#8a98a2;
}
.left .post_head .small a{
	color:#003399;
}
.left .post_body{
	border-bottom:1px dashed #898989;
	border-top:1px dashed #898989;
	margin:5px 0px;
}
.left .post_body p{
	width:620px;
	overflow:hidden;
	line-height:18px;
	font-size:12px;
}
.left .post_body .more_link{
	font-size:14px;
	font-weight:bold;
	color:#003399;
}
.left .post_body .more_link img{
	vertical-align:middle;
}
.left .post_footer{
	margin:10px 0px;
}
.left .post_footer span{
	padding:0px 10px;
}
.left .post_footer span.first{
	padding-left:0px;
}
.left .post_footer span img{
	vertical-align:middle;
	padding-right:3px;
}
.left .post_footer span a{
	margin:0px 3px;
}
.left .post_footer .time{
	color:red;
}
.right .search{
	margin-top:20px;
	border:1px solid #e5e6e7;
	padding:1px;
	background:#fff;
	width:296px;
}
.right .search h3{
	color:#e63c01;
	background:#f5f5f5;
	height:30px;
	line-height:30px;
	padding-left:10px;
}
.right .search .title_row,.right .search .s_button{
	padding:0px 0px 0px 10px;
	margin-top:10px;
	line-height:24px;
	clear:both;
}
.right .search .title_row div{
	float:left;
}
.right .search .title_row div.area_select{
	width:240px;
}
.right .search .s_button{
	margin-bottom:10px;
}
.right .search .s_button a{
	margin-left:36px;
}
.right .search .title_row span,.right .search .title_row div span{
	font-weight:bold;
	padding-right:5px;
	text-align:right;
}
.right .right_box{
	width:300px;
	margin:20px 0px 0px 0px;
}
.right .right_box .title{
	font-weight:12px;
	padding-bottom:5px;
}
.right .right_box .link li{
	width:150px;
	float:left;
}
.left .post_body .rate{
	float:left;
	height:88px;
	width:540px;
}
.left .post_body .rate .rate_line{
	clear:left;
	color:#003399;
	margin-top:20px;
}
.left .post_body .rate .rate_line div{
	float:left;
}
.left .post_body .rate .rate_line .rate_head{
	padding-right:10px;
	padding-top:2px;
}
.rate_result{
	padding-top:3px;
	color:#090;
	font-weight:bold;
}
.left .post_body .support{
	padding-right:20px;
	text-align:center;
}
.left .post_body .support a img{
	width:45px;
	height:67px;
}
.left .post_body .support img{
	width:45px;
	height:67px;
}
.left .post_body .support span{
	color:#03C;
}
.left .comment{
	margin-top:10px;
}
.left .comment .commet_bar{
	border-bottom:1px solid #CCC;
	margin-top:10px;
}
.left .comment .commet_bar span{
	font-weight:bold;
}
.left .comment .commet_bar span a{
	color:#03C;
}
.left .comment .commet_bar span.qty{
	color:#666;
	padding-left:5px;
}
.left .comment .commet_bar div{
	padding-right:10px;
	float:right;
}
.left .comment .commet_bar div a{
	font-weight:bold;
	color:#03C;
}
.left .comment .commet_bar div a:hover{
	text-decoration:none;
}
.left .comment .commet_bar div img{
	vertical-align:middle;
	padding-right:10px;
}
.left .comment .commet_bar div a span{
	color:#333;
}
.left .comment .commet_bar div img.end{
	padding-right:0px;
}
.left .comment .comment_news{
	padding:10px 0px;
	line-height:20px;
	color:#333;
	border-bottom:1px dashed #CCC;
}
.left .comment .submit{
	background:#f8f8f8;
	padding:10px;
	border-bottom:1px dashed #CCC;
}
.left .comment .submit textarea{
	width:100%;
	height:60px;
}
.left .comment .submit .row{
	margin-top:10px;
}
.left .comment .submit .userinput{
	margin-bottom:10px;
}
.left .comment .submit .userinput label{
	padding:0px 10px;
}
.left .comment .submit .userinput label.first{
	padding-left:0px;
}
.left .comment .submit .userinput input{
	height:20px;
	width:120px;
}
.left .comment .submit .row .i_button{
	padding:2px 10px;
	margin-left:5px;
}
.left .comment .submit .row  .v_code{
	width:50px;
	height:20px;
	margin:auto 10px;
}
.left .comment .submit .row img{
	vertical-align:middle;
	margin-right:10px;
	cursor:pointer;
}
.footerline{
	font-size:9px;
	padding:0 20px;
	color:#c1c1c1;
	padding-top:-5px;
	padding-top:20px;
}
.footerline a{
	padding:0px 10px;
	border-right:1px solid #CCC;
	color:#999;
	font-size:12px;
}
.footerline a.last{
	border:none;
}
.footerline a:hover{
	color:#F00;
	text-decoration:none;
}
.footerline .footertop a{
	border:none;
}
.footerline .footertop{
	width:32px;
	float:right;
}
.left .rule{
	margin:20px 0px;
	border-bottom:1px dashed #CCC;
}
.left .rule .thank_submit{
	font-size:16px;
	color:#03F;
}
li.intro{
	font-weight:bold;
	padding:10px 0px;
}
.line{
	margin:10px auto;
}
.line .input *{
	float:left;
}
.line .input .label{
	font-weight:800;
	color:#060;
	font-size:12px;
	text-align:right;
	padding-right:10px;
	height:20px;
	line-height:20px;
	width:80px;
}
.line .input img{
	margin:0px 10px;
	vertical-align:middle;
	cursor:pointer;
}
.line .notice,.line .option_link{
	clear:left;
	margin-left:90px;
	color:#999;
	font-size:11px;
}
.line .option_link{
	font-size:12px;
	padding:5px 10px 0px 0px;
}
.line input{
	height:20px;
	left:20px;
	vertical-align:middle;
}
.line .error{
	float:left;
}
.line .input .spec{
	float:left;
}
.line .notice em,.line .input .spec em{
	color:#F00;
	font-size:12px;
	font-weight:bold;
}
.news_review,.news_content{
	width:620px;
	padding:0px;
}
.news_review textarea{
	width:620px;
	height:200px;
}
.news_content textarea{
	width:620px;
	height:500px;
}
.big_sbumit{
	border-top:1px solid #CCC;
	margin-top:10px;
	padding:5px 0px;
	padding-left:90px;
}
.big_sbumit input{
	padding:5px 10px;
	color:#063;
	font-weight:bold;
	font-size:14px;
}
.line .error_info,.line .success_info{
	border:1px solid #F00;
	background:#FB4322;
	height:26px;
	line-height:26px;
	padding:0px;
	padding-left:5px;
	color:#FFF;
	margin-left:90px;
}
.line .success_info{
	background:#060;
	border:1px solid #093;
}
.index_page_link,.index_page_link_left{
	margin-top:20px;
	text-align:right;
	height:30px;
	line-height:30px;
}
.index_page_link_left{
	height:80px;
	line-height:80px;
	border-top:1px solid #EEE;
}
.index_page_link_left,.index_page_link_left{
	text-align:left;
	margin-left:0px;
}
.index_page_link a,.index_page_link_left a{
	border:1px solid #3ad1fa;
	padding:7px 15px;
	margin-left:20px;
	font-size:14px;
	font-weight:bold;
}
.index_page_link_left a{
	margin-right:20px;
	margin-left:0px;
}
.index_page_link a:hover,.index_page_link_left a:hover{
	color:#FFF;
	background:#3ad1fa;
	text-decoration:none;
}

h1.thankyou{
	margin:20px 0px 40px 0px;
	color:#060;
}

.control_bar{
	position:fixed;
	bottom:0px;
	left:0px;
	height:80px;
	width:100%;
	background:#EEE;
	border-top:1px groove #CCC;
	z-index:999;
}
.control_bar .control,.control_bar .result{
	width:960px;
	padding-top:10px;
	position:static;
	margin:0px auto;
}
.control_bar .result{
	color:#063;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
}
.control_bar .control a{
	margin-right:20px;
}