<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-dependency-check="none" default-autowire="byName">
	
	<!-- general actions -->
	<bean name="newsAction" class="com.zhelazhela.actions.DiscountNewsAction" singleton="false" >
		<property name="pagesize" value="15" />
	</bean>
	
	<bean name="commentsAction" class="com.zhelazhela.actions.CommentAction" singleton="false" >
		<property name="pagesize" value="20" />
	</bean>
	
	<bean name="validateCodeAction" class="com.zhelazhela.actions.ValidateCodeAction" singleton="false" >
	</bean>
		
	<!-- administrator actions -->
	<bean name="adminAction" class="com.zhelazhela.actions.ManageDiscountNewsAction" singleton="false" >
		<property name="pagesize" value="20" />
	</bean>
	
	<bean name="programAction" class="com.zhelazhela.actions.ManageProgramInfoAction" singleton="false" >
		<property name="pagesize" value="20" />
	</bean>
	
	<bean name="categoryAction" class="com.zhelazhela.actions.ManageCategoryAction" singleton="false" >
		<property name="pagesize" value="20" />
	</bean>
	
	<bean name="commonAction" class="com.zhelazhela.actions.CommonAction" singleton="false" />
	
	<bean name="blogAction" class="com.zhelazhela.actions.BlogAction" singleton="false" >
		<property name="pagesize" value="12" />
	</bean>
	
	<bean name="blogManageAction" class="com.zhelazhela.actions.ManageBlogAction" singleton="false" >
		<property name="pagesize" value="20" />
	</bean>
	
	<bean name="snsUserAction" class="com.zhelazhela.actions.UserRegAction" singleton="false" >
	</bean>
	
	<bean name="snsMainAction" class="com.zhelazhela.actions.SNSMainAction" singleton="false" >
		<property name="pagesize" value="20" />
	</bean>
</beans>
