<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		  "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-lazy-init="false" default-dependency-check="none" default-autowire="byName">

	<!-- mail service -->
	<bean name="smtpAuthenticator"
		class="com.zhelazhela.system.email.SmtpAuthenticator">
		<constructor-arg value="andy.noreply.mail@gmail.com" />
		<constructor-arg value="~@$fs#@s*o)p" />
	</bean>
	<bean name="mailSession" class="javax.mail.Session"
		factory-method="getInstance">
		<constructor-arg>
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.socketFactory.port">465</prop>
				<prop key="mail.smtp.socketFactory.class">
					javax.net.ssl.SSLSocketFactory
				</prop>
				<prop key="mail.smtp.socketFactory.fallback">
					false
				</prop>
			</props>
		</constructor-arg>
		<constructor-arg ref="smtpAuthenticator" />
	</bean>
	
	<bean name="mailSender"
		class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="session" ref="mailSession" />
	</bean>
	
	<bean name="mailServices" class="com.zhelazhela.system.email.MailServices" >
		<property name="senderName" value="这啦折啦" />
		<property name="senderAddr" value="webmaster@zhelazhela.com" />
	</bean>
	
	<bean name="systemConfig" class="com.zhelazhela.system.config.SystemConfig" >
		<property name="domain" value="http://www.zhelazhela.com" />
		<property name="upload_pic" value="/upload/images/pic" />
		<property name="upload_pic_maxlength" value="4194304" />
		<property name="upload_header" value="/upload/images/header" />
		<property name="upload_header_maxlength" value="16384" />
	</bean>
	
	<bean id="accountService" name="accountService" class="com.zhelazhela.services.impl.AccountServiceImpl" />	
	<bean id="commentService" name="commentService" class="com.zhelazhela.services.impl.CommentServiceImpl" />
	<bean id="discountNewsService" name="discountNewsService" class="com.zhelazhela.services.impl.DiscountNewsServiceImpl" />
	
</beans>