<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- 
	<import resource="classes/conf/spring/spring-cache.xml"/>
	 -->
	<import resource="classes/conf/spring/spring-db.xml"/>
	<import resource="classes/conf/spring/spring-dao.xml"/>
	<import resource="classes/conf/spring/spring-transaction.xml" />
	<import resource="classes/conf/spring/spring-service.xml"/>
	<import resource="classes/conf/spring/spring-action.xml"/>
</beans>