<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		  "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans default-lazy-init="false" default-dependency-check="none" default-autowire="byName">
	<bean name="commentsDAO" id="commentsDAO" class="com.twitpic.db.dao.CommentsDAOImpl" />
	<bean name="picturesDAO" id="picturesDAO" class="com.twitpic.db.dao.PicturesDAOImpl" />
	<bean name="picturesParameterDAO" id="picturesParameterDAO" class="com.twitpic.db.dao.PicturesParameterDAOImpl" />
	<bean name="tagsDAO" id="tagsDAO" class="com.twitpic.db.dao.TagsDAOImpl" />
	<bean name="tagsRelDAO" id="tagsRelDAO" class="com.twitpic.db.dao.TagsRelDAOImpl" />
	<bean name="usersDAO" id="usersDAO" class="com.twitpic.db.dao.UsersDAOImpl" />
	<bean name="usersProfileDAO" id="usersProfileDAO" class="com.twitpic.db.dao.UsersProfileDAOImpl" />
	<bean name="adminsDAO" id="adminsDAO" class="com.twitpic.db.dao.AdminsDAOImpl" />
</beans>
