<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-dependency-check="none" default-autowire="byName">
	<bean id="homeAction" name="homeAction" class="com.twitpic.actions.HomeAction" singleton="false" />
	<bean id="accountAction" name="accountAction" class="com.twitpic.actions.AccountAction" singleton="false"  />
	<bean id="pictureAction" name="pictureAction" class="com.twitpic.actions.PictureAction" singleton="false"  />
	<bean id="adminAction" name="adminAction" class="com.twitpic.actions.AdminAction" singleton="false"  />
	<bean id="commentAction" name="commentAction" class="com.twitpic.actions.CommentAction" singleton="false"  />
	<bean id="tagAction" name="tagAction" class="com.twitpic.actions.TagAction" singleton="false"  />
	
	<!-- mobile actions -->
	<bean name="mPictureAction" class="com.twitpic.actions.m.PictureAction" singleton="false" >
		<property name="mobilePictureService" ref="mPictureService"></property>
	</bean>
</beans>
